{% extends "por/layout.html" %}
        {% block body %}
        <div style="padding:20px;">
        <h2>Create your own portfolio:</h2>
        <h3>Enter your first work details (You can add another work later).</h3>
        <form action="{% url 'createPor' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Work Title" style="width:700px;">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Work Description" style="width:700px;"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="webLink" placeholder="Link of the website or a documentation of your work *If you want*" style="width:700px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="imageLink" placeholder="Link of an image of your work *If you want*" style="width:700px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="imageOnHoverLink" placeholder="Link of another image of your work that is displayed when hovering on it *If you want*" style="width:700px;">
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
        </form>
        </div>

        {% endblock %}