{% extends "por/layout.html" %}
        {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-top">
                    <h1 class="hidden-sm hidden-xs border-bottom" style="color:mediumseagreen;">
                        {{user1.FirstName}} {{user1.LastName}} • {{user1.description}}</h1>
                </div>
            </div>
        </div>
        {% for work in workList %}
        <h3 style="text-align:center; color: mediumseagreen;">{{work.title}}</h3>
        <h5 style="color: mediumseagreen; text-align:center;">{{work.description}}</h5>
        <br>
        {% if work.imageLink %}
        <a href={{work.webLink}}><div class="imageBox">
          <div class="imageInn">
            <img style="width:350px; height=350px;" src={{work.imageLink}} alt="Auctions">
          </div>
          <div class="hoverImg">
            <img style="width:350px; height=350px;" src={{work.imageOnHoverLink}} alt="Auctions">
          </div>
        </div>
        </a>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% else %}
        {% if work.webLink %}
        <h3 style="left:47.5vw; position:absolute;"><a href={{work.webLink}}>Webiste</a></h3>
        <br/><br/><br/>
        {% endif %}
        {% endif %}
        {% endfor %}
        <div style="text-align:center;">
            <h3 style="color:mediumseagreen">Contact me:</h3>
            <h3 style="color:mediumseagreen">Mail: {{user1.email}}</h3>    
            <h3><a href={{user1.facebook}}>Facebook</a></h3>
            <h3 style="color:mediumseagreen">Whatsapp or Telegram: {{user1.whats}}</h3>
        </div>
        <br/>
        <div ><a href="#" class="btn btn-primary" style="position:absolute; left:700px; height:40px;">Back to Top</a></div>

        {% endblock %}
