{% extends "por/layout.html" %}
    {% block body %}
    <div style="padding:20px;">
    <h2>Register</h2>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style="width:600px;">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="FirstName" placeholder="First Name" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="LastName" placeholder="Last Name" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" style="width:600px;">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Short description of what you can do and your skills" style="width:600px;"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="facebook" placeholder="Link of your Facebook page or profile(for contact)*If you want*" style="width:600px;">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="whats" placeholder="Your phone number(for Whatsapp contact)*If you want*" style="width:600px;">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
        </form>

    <h3>Already have an account? <a href="{% url 'login' %}">Log In here.</a></h3>
    </div>

{% endblock %}